[submodule "lib/daosys_frontend"]
	path = lib/daosys_frontend
	url = https://github.com/cyotee/daosys_frontend
[submodule "lib/crane"]
	path = lib/crane
	url = https://github.com/cyotee/crane
[submodule "lib/wagmi-declare"]
	path = lib/wagmi-declare
	url = https://github.com/cyotee/crane
